.product_page{
    height:max-content;
    font-family: Arial, sans-serif;
    width:100%;
    margin-top:1%;
    display:flex;
    /* background-color: yellow; */

}

.left_side_display{
    display:flex;
    width:auto;
    margin-top:2%;
    /* background-color: yellow; */
    padding:2rem;
}

.toogle_left_button{
    position:absolute;
    z-index: 1000;
    background-color:#e0f3df;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: background-color 0.3s;
    font-weight: 900;
    
}

.toogle_left_button:hover{
    background-color: #a4ca95;
}