/* :root{
    --medium: #56bd5a;
    --light: #72aa70;
    --dark: #169312;
} */

.left_side {
    position: absolute;
    font-family: Arial, sans-serif;
    left: 0;
    height: auto;
    width: 19.8%;
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;    /* Center items horizontally */
    justify-content: flex-start; /* Align items at the top */
    /* z-index:1000; */
    padding:1rem; 



}


.price_range {
    width: 90%;
    margin-top: 10%;
    margin-bottom: 10%;
    
}

.price_range h3 {
    margin-bottom: 1rem; /* Add some space below the heading */
}

/* Style the slider track */
.custom-slider .MuiSlider-track {
    background-color: var(--light); /* Track color */
    height: 6px;                 /* Track height */
    border-radius: 1rem;        
    border:none;
}

/* Style the slider rail (background below the track) */
.custom-slider .MuiSlider-rail {
    background-color: var(--lightest);  /* Rail color */
    height: 4px;                 /* Rail height */
    border-radius: 4px;          /* Rounded corners */
    

}

/* Style the slider thumb */
.custom-slider .MuiSlider-thumb {
    background-color: var(--dark);  /* Thumb color */
    /* border: 2px solid #88b887;   */
    width: 1.5rem;                /* Thumb size */
    height: 1.5rem;               /* Thumb size */
    border-radius: 50%;         /* Round thumb */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Add shadow */
    
}

/* Style the value label that appears when the thumb is hovering */
.custom-slider .MuiSlider-valueLabel {
    background-color: var(--dark);   /* Value label background color */
    color: #ffffff;              /* Text color */
    font-weight: bold;           /* Bold text */
    font-size: 14px;             /* Font size */
    border-radius: 4px;          /* Rounded corners */
    padding: 2px 6px;            /* Padding around the text */
}


.sorting {
    margin-top: 20px;  /* Add margin to push sorting below the slider */
    width: 90%;         /* Make it the same width as the slider */
    text-align: left; /* Center the sorting label */
}

.sorting_options {
    display: flex;
    flex-direction: column;
    margin-top:1rem;
}

.sorting_options label {
    margin: 7px 5px;
    font-size: 100%;
    display: flex;
}

.sorting_options input[type="radio"] {
    margin-right: 6%;
    transform: scale(1.5); 
    border:2px solid black;
}

.star-filter {
    margin-top: 1rem;
    width: 90%; /* Ensure it takes the full width of the container */
    align-items: flex-start; /* Align items to the left */
    text-align: left; /* Align text and input to the left */
    /* margin-bottom:5%; */

}


.star-option {
    display: flex;
    align-items: center;
    
}

.star-option input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin-right:6%;

}

.stars {
    color: gold;
    font-size: 1.5rem;
    letter-spacing: 2px;
}


.collapsible-heading {
    cursor: pointer;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 0.5rem;
    
    display: flex;
    justify-content: space-between; /* Push content to both ends */
    align-items: center;
}