.homepage {
    position: relative;
    min-height: 100vh;
    padding-bottom: 4rem;
    z-index: 1;
    overflow: hidden;
    background-size: cover;
  background-position: center;
  min-height: 400px;
  }
  
  .homepage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background-image: url('/images/31.png'); */
    background-repeat: no-repeat;
    background-size: 245% auto;
    background-position: center 25%;
    z-index: -1;
    opacity: 1;
    min-height: 400px;
  }
  
  

  .hero-content {
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    padding: 2rem;
    border-radius: 1.5rem;
  }
  
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
  
  .hero strong {
    color: #ffbf47;
  }
  
  .hero {
    display: flex;
    align-items: flex-end; 
    justify-content: flex-start; 
    height: 60vh;
    position: relative;
    padding: 2rem;
    margin-bottom:2rem; 
  }
  
  .hero-buttons {
    position: absolute;
    bottom: 5%; 
    left: 20%;    
    display: flex;
    gap: 4rem;
  }
  
  .btn-primary,
  .btn-secondary {
    padding: 1rem 2rem;
    font-size: 1.7rem;
    border-radius: 2rem;
    border: none;
    font-weight: 600;
    cursor: pointer;
  }
  
  .btn-primary {
    background-color: #ffffff;
    color: black;
  }
  
  .btn-secondary {
    background-color: #ffffff;
    color: black;
  }
  